<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >
    <testsuites>
        <testsuite name="Secure CAPTCHA WordPress Plugin Tests">
            <directory suffix=".php">./</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../</directory>
            <exclude>
                <directory suffix=".php">./tests</directory>
                <directory suffix=".php">./assets</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>